/* styles.css */
#map, html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

/* Common styles for both Light and Dark modes */
#meta {
    position: absolute;
    right: 10px;
    top: 2%;
    width: 12pc;
    color: #838383;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.90em;
    font-weight: bold;
    z-index: 1000;
}

#meta p {
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

    .category-container {
        display: flex;
        flex-direction: column;
    }

    .category-btn {
        margin: 2px;
        padding: 5.5px;
        background-color: #f5f5f5;
        color: #3f4141;
        border: none;
        border-radius: 8px;
        text-align: left;
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
        font-size: 12px; /* Adjust font size if necessary */
    }

    .category-btn:hover {
        background-color: #0056b3;
        color: #fff;
    }

.btn-group {
    margin: 2px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
}

/* Light Mode Styles */
.btn-group select {
    background-color: #f5f5f5;
    color: #3f4141;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Dark Mode Styles */
.dark-mode .btn-group select {
    background-color: #343a40;
    color: #ffffff;
}

/* Additional Styles */
.btn-group select:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

.reset-button {
    position: absolute;
    top: 85px;
    left: 11px;
    z-index: 1000;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 4px 8px;
    transition: background-color 0.3s ease;
}

.reset-button:hover {
    background-color: #f0f0f0;
}

.reset-icon {
    font-size: 14px;
}

.header-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2%;
    width: 25pc;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    z-index: 1000;
}

.metax {
font-family:Poppins; 
font-size:140%; 
font-weight:bold; 
text-align: center; 
margin:0;
}

/* Light mode specific styles */
.metax.light-mode {
    color: #0752DF;
}

/* Dark mode specific styles */
.metax.dark-mode {
    color: #ffb001;
}

.metay {
font-family:Poppins; 
font-size:1.2em; 
font-weight:bold; 
text-align: center; 
margin:0;
}

/* Light mode specific styles */
.metay.light-mode {
    color: #0752DF;
}

/* Dark mode specific styles */
.metay.dark-mode {
    color: #ffb001;
}

/* Light mode specific styles */
.header-container.light-mode {
    background: #fff;
    border: 2px solid #666;
    border-radius: 10px;
}

/* Dark mode specific styles */
.header-container.dark-mode {
    background: #333;
    border: 2px solid #e6e6e6;
    border-radius: 10px;
    color: #fff;
}

/* Light mode specific styles */
#meta.light-mode {
    background: #FFFFFF;
    border: 2px solid #666;
}

/* Dark mode specific styles */
#meta.dark-mode {
    background: #333;
    border: 2px solid #e6e6e6;
    color: #ccc;
}


select {
    width: 100%;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

.station-tooltip {
    background-color: #2F4F4F;
    color: #ffb000;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    font-size: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.station-tooltip .value {
    font-size: 20px;
    color: White;
}

.station-tooltip .small-text {
    font-size: 10px;
    color: #eeeee4;
}

.unit {
    font-size: 14px;
    font-weight: bold;
}

.compass {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .85);
    position: relative;
    font-family: 'Dosis', sans-serif;
    color: #555;
    text-shadow: 1px 1px 1px white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.compass::before {
    font-weight: bold;
    position: absolute;
    text-align: center;
    width: 100%;
    content: "N";
    font-size: 14px;
    top: -2px;
}

.compass .direction {
    height: 100%;
    width: 100%;
    display: block;
    background: #f2f6f5;
    background: -moz-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f6f5), color-stop(100%, #cbd5d6));
    background: -webkit-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    background: -o-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    border-radius: 100%;
}

.compass .direction p {
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 80px;
    display: block;
    margin-top: -45px;
    font-size: 28px;
    font-weight: bold;
}

.compass .direction p span {
    display: block;
    line-height: normal;
    margin-top: -24px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.compass .arrow {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
}

.compass .arrow::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid red;
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -5px;
    z-index: 99;
}

.pressure-trend-arrow {
    font-size: 30px; /* Adjust size as needed */
}

.neutral-arrow {
    color: #0DF906; /* Color for steady pressure */
}

.rising-arrow {
    color: skyblue; /* Color for slow rise */
}

.falling-arrow {
    color: yellow; /* Color for slow fall */
}

.strong-rise-arrow {
    color: #0061ff; /* Color for significant rise */
}

.strong-fall-arrow {
    color: #F94306; /* Color for significant fall */
}

.sharp-rise-arrow {
    color: #A906F9; /* Color for sharp rise */
}

.sharp-fall-arrow {
    color: #F90706; /* Color for sharp fall */
}

.info-container {
    display: none;
    text-align: left;
    margin-top: 10px;
    padding: 15px;
    background-color: #ff7b3c;
    color: #fff;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    max-width: 300px;
    position: relative;
    z-index: 1000;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.info-container.fade-in {
    display: block;
    animation: fadeInOut 10s forwards;
}

.info-container i {
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.ring-container {
    position: absolute;
    width: 30px;
    height: 30px;
}

.ring-animation {
    position: absolute;
    width: 10px;
    height: 10px;
    margin-top: -2px;
    margin-left: -2px;
    border-radius: 50%;
    border: 2px solid;
    animation: ringPulse 2s infinite ease-out;
}

.central-point {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: inherit;
    border-radius: 50%;
}

@keyframes ringPulse {
    0% {
        transform: scale(0.5);
        opacity: 1;
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}
